.options__wrapper {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.option {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1rem;
}

.font__wrapper {
  gap: 0.5rem;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.font__button {
  padding: 0.2rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
